



<div class = "panel-thread">
   <div class = "<%= get_point_style(point3) %>" >
      
         <div class = "panel panel-heading">
             <div class = "row">
             <div class = "col-sm-3 pull-left">
            <%= User.find(point3.user_id).name %>
            </div>
            
            <div class = "col-sm-6 pull-right">
                
            <div class = "col-sm-2 pull-right" style="width:10px">
                    <span class="badge" id="<%= "votebadge#{point3.id}" %>" > <%= point3.votes_count ||= 0%> </span>
            </div>
            <div class = "col-sm-2 pull-right" style="width:10px">
            <%= form_for(point3, remote: true) do |f| %>
                <%= f.hidden_field :voting, value: true %>
                <%= f.hidden_field :point_id, value: point3.id %>
                   
                <%= f.button :submit, name: "conceal", value: "1", id: "votebutton#{point3.id}", disabled: user_voted?(point3.id, debate_current_user.id) do %>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <% end %>
                
            <% end %>
            </div>
            
            
            </div>

            </div>
         </div>
         <div class = "panel-body">
            <%= point3.body %>
         
         </div>
         
           <% if point3.points.any? && point3.side != "neutral" %>

           <button class="fa fa-plus" aria-hidden="true" data-toggle = "collapse"  data-target = <%="#collapse#{point3.id}"%>></button>
                    
           <% end %>
            <% if side != point3.side %>
                           
                        
            <button class="fa fa-comment" aria-hidden="true" data-toggle = "collapse" data-target =<%="#collapseform#{point3.id}"%>></button>
                           
            
            <% end %>
            
            <div id =<%="collapseform#{point3.id}"%> class = "panel-collapse collapse" >
              

            <%= form_for([debate, debate.points.new]) do |f| %>
            
                <%= f.hidden_field :parent_id, value: point3.id %>
                <%= f.hidden_field :debate_id, value: debate.id %>
                <%= f.text_area :body, class: "form-control" %>
                <%= f.submit "test submit", class: "form-control" %>
            
            <% end %>
                
            </div>
      </div>
       <div id = <%="collapse#{point3.id}"%> class = "panel-collapse collapse in" >

              <%= render partial: 'points/point3', collection: point3.points.order(:votes_count).take(2), locals: {side: side, debate: debate}  %>
            
             
            </div>
       </div>   
       
