



<div class = "panel-thread">
   <div class = "<%= get_point_style(point2) %>" >
       
         <div class = "panel panel-heading">
             <div class = "row">
             <div class = "col-sm-3 pull-left">
            <%= User.find(point2.user_id).name %>
            </div>
            
            <div class = "col-sm-6 pull-right">
                
            <div class = "col-sm-2 pull-right">
                    <span class="badge" id="<%= "votebadge#{point2.id}" %>" > <%= point2.votes_count %> </span>
            </div>
            <div class = "col-sm-2 pull-right">
            <%= form_for(point2, remote: true) do |f| %>
                <%= f.hidden_field :voting, value: true %>
                <%= f.hidden_field :point_id, value: point2.id %>
                   
                <%= f.button :submit, name: "conceal", value: "1", id: "votebutton#{point2.id}" do %>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <% end %>
                
            <% end %>
            </div>
            
            
            </div>
            
          
           
            
            
      

            </div>
         </div>
         <div class = "panel-body">
            <%= point2.body %>
            <%= point2.id %>
         </div>
         
         
            <button class="btn btn-primary-outline" data-toggle = "collapse"  data-target = <%="#collapse#{point2.id}"%>>
              Show Children
            </button>
            <% if side != point2.side %>
            
            <button class="btn btn-primary-outline" data-toggle = "collapse"  data-target =<%="#collapseform#{point2.id}"%>>
              Rebuddle
            </button>
            
            <% end %>
            
            <div id =<%="collapseform#{point2.id}"%> class = "panel-collapse collapse" >
              

            <%= form_for([debate, debate.points.new]) do |f| %>
            
                <%= f.hidden_field :parent_id, value: point2.id %>
                <%= f.hidden_field :debate_id, value: debate.id %>
                <%= f.text_area :body, class: "form-control" %>
                <%= f.submit "test submit", class: "form-control" %>
            
            <% end %>
                
            </div>
      </div>
       <div id = <%="collapse#{point2.id}"%> class = "panel-collapse collapse in" >

              <%= render partial: 'points/point2', collection: point2.points.order(:votes_count), locals: {side: side, debate: debate}  %>
            
             
            </div>
       </div>   
       
      

