

<div class = "panel-group" id = "accordion">
<div class = "panel-thread">
   <div class = "panel panel-info">
         <div class = "panel panel-heading">User Wrote</div>
         <div class = "panel-body">
              <%= point.body %>
            <%= point.id %>
         </div>
         
         
            <button data-toggle = "collapse" data-parent = "#accordion" data-target = <%="#collapse#{point.id}"%>>
              Show Children
            </button>
         <%= form_tag(controller: "points", action: "create", method: "post",) do %>
              <%= hidden_field_tag(:parent_id, :parent_id, value: point.id) %>
              <%= text_field_tag(:body) %>
              <%= number_field_tag(:votes) %>
              <%= submit_tag("test") %>
            <% end %>
        
      </div>
       <div id = <%="collapse#{point.id}"%> class = "panel-collapse collapse in">
              
              <%= render partial: 'points/subpoint', collection: point.points.order(:votes) %>
              
       </div>
       </div>
   </div>
   </div>

    



