
        
        <% points.each do |point| %>
           <% @showing = 0 %>
            
            <% if !point.user_id.nil? %>
            
                <div class = "panel-thread">
                   <div class = "<%= get_point_style(point) %>" >

                        <div class = "panel panel-heading">
                                <div class = "row">
                                     <div class = "col-sm-3 pull-left">
                                    <%= User.find(point.user_id).name %>
                                    </div>
                                    
                                    <div class = "col-sm-6 pull-right">
                                        
                                    <div class = "col-sm-2 pull-right" style="width:10px">
                                            <span class="badge" id="<%= "votebadge#{point.id}" %>" > <%= point.votes_count ||= 0%> </span>
                                    </div>
                                    <div class = "col-sm-2 pull-right" style="width:10px">
                                        
                                    <% if logged_in? %>
                                        <%= form_for(point, remote: true) do |f| %>
                                            <%= f.hidden_field :voting, value: true %>
                                            <%= f.hidden_field :point_id, value: point.id %>
                                               <% user_voted?(point.id, @debate_current_user.id) %>
                                            <%= f.button :submit, name: "conceal", value: "1", id: "botebutton#{point.id}", disabled: false do %>
                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                            <% end %>
                                            
                                        <% end %>
                                    
                                    
                                    <% else %>
                                    
                                    <button disabled>
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </button>
                                    
                                    <% end %>
                                    </div>
                                    </div>
                        </div>
                         </div>
                         <div class = "panel-body">
                            <p> <%= point.body %> </p>

                         </div>
                   

                         
                         
                            <% if point.points.any? || point.side != "neutral" %>
                            <button class="fa fa-plus" aria-hidden="true" data-toggle = "collapse"  data-target = <%="#collapse#{point.id}"%>></button>
                            <% end %>
                            <% if side != point.side %>
                           
                        
                            <button class="fa fa-comment" aria-hidden="true" data-toggle = "collapse" data-target =<%="#collapseform#{point.id}"%>></button>
                            <% end %>
                            <div id =<%="collapseform#{point.id}"%> class = "panel-collapse collapse" >
                              
                         
                            
                            <%= form_for ([debate, debate.points.new]) do |f| %>
                              <%= f.hidden_field :parent_id, value: point.id %>
                              <%= f.hidden_field :debate_id, value: debate.id %>
                             
                              
                              <%= f.text_area :body, class: 'form-control' %>
                              
                              <%= f.submit "Submit Rebuddle", class: 'form-control' %>
                    
                            <% end %>
                            </div>
                      </div>
                      
                       <div id = <%="collapse#{point.id}"%> class = "panel-collapse collapse in" >
                           
                           
                          
                              <%= render partial: 'points/point2', collection: point.points.order(:votes_count).take(2), locals: {side: side, debate: debate} %>
                            
                            <div id = "testbest">
                                blah
                            <%= form_for(point, remote: true) do |f| %>
                            
                              <%= f.hidden_field :expanding, value: true %>
                              <%= f.hidden_field :point_id, value: point.id %>
                              
                              <%= f.submit "Show More", class: 'form-control' %>
                    
                            <% end %>
                            </div>
                              

                      </div>
                </div>   
                   
            <% end %>
        
        
        <% end %>
    
    
    
      
<%= javascript_tag do %>
  alert("My example alert box.");
  console.log("test")
  var showing = 2
  
      <%= @showing +=1 %>
  
     $("#testbest").click(function() {
      alert( "<%= @showing %>" );
     
        exit()
      });
 

<% end %>

