<div class="<%= get_new_point_style(side) %>" >
                    
      <div class="panel panel-heading">New Point</div>
      <div class="panel-body">
            <%= form_for([debate, debate.points.new]) do |f| %>
                 
                  <%= f.hidden_field(:parent_id, :value => nil) %>
                  <%= f.hidden_field(:debate_id, :value => debate.id) %>
                  <%= f.text_area :body, class: "form-control" %>
                  
                  <%= f.submit "Make a Point", class: "form-control" %>
                  <%= flash[:danger]%>
            <% end %>
      </div>
</div>