    
<div class="container">    
    <table class="table">
        <thead>
          <tr>
            <th class="col-sm-2">Topic</th>
            <th class ="col-sm-10">Summary</th>
           
          </tr>
        </thead>
        
        <tbody>
    
    <% @debates.each do |d| %>
        
       
            <tr>
              
            <td class="topic">  <a href="<%= debate_path(d.id) %>"><%= d.topic %> </a></td>
            <td>
                <div>
                    <%= d.summary %> 
                </div>
                
                <div class="indexFoot"> Submitted By: <%= link_to User.find(d.owner_id).name, user_path(User.find(d.owner_id).id) %></div>
            
            
            </td>
            
            </tr>
    
        
    
    
    <% end %> 
    
    <%= link_to "new", new_debate_path %>
         </tbody>
    
    </table>
</div>