<%= render '/shared/error_messages_point' %>

<div class="table-layout">
  
    <div class="table-cell">
       <div id="testabc">
                  <div class="panel panel-default">
                        <div class="panel panel-heading">
                             
                              <span class="debate-title-1">Topic:</span>
                             
                             <span class="debate-title-2">
                              <%= @debate.topic %>
                             </span>
                              
                              
                        </div>
                        <div class="panel panel-body" style="margin-bottom:0px;">
                          
                              <div class="row">
                                  
                                  <div class = "col-md-12">
                                      <span class="debate-body-1"> Neutral Description: </span>
                                     
                                     <span class="debate-body-2">
                                         <%= @debate.summary %>
                                     </span>
                                 </div>
                               </div>
                               <hr class="divider"></hr>
                               <div class="row">
                                   <div class = "col-md-6 border">
                                              <span class="debate-body-1"> Left Standpoint: </span>
                                          
                                         <span class="debate-body-2">
                                             <%= @debate.left_standpoint %>
                                         </span>
                                    </div>
                                    
                                    <div class = "col-md-6">
                                              <span class="debate-body-1"> Right Standpoint: </span>
                                          
                                         <span class="debate-body-2">
                                             <%= @debate.right_standpoint %>
                                         </span>
                                    </div>
                                    
                               </div>
                               
                              
                               
                        </div>

                  </div>
            </div>  
    </div>
    
      <div class="table-cell fixed-width-200">
          <% if !logged_in? %>
          
       
            <div class = "well">
               
                    <h4>Debate Info</h1>
                    <hr class="divider"></hr>
                   
                    <p>Please Login or Sign Up to Participate</p>
                    <%= link_to "login", login_path %>
                    <%= link_to "signup", signup_path %>
                        
                 
         
        </div>
        
      <% elsif !@participating %>
    
            <div class = "well">
                  
                    <h4>Debate Info</h1>
                    <hr class="divider"></hr>
                    <p>Please choose a side to begin contributing to this discussion... <br /><br /> </p>
                   <%= form_tag(controller: "participations", action: "create", method: "post", class: "form-inline") do %>
       
                        <%= hidden_field_tag(:debate_id, :debate_id, value: @debate.id) %>
                        <h4>Choose a Side:</h4>
                        <%= select_tag("side", options_for_select([['Left', "left"], ['Right', "right"]]), {:class => 'form-control'}) %>
                        
                        <%= submit_tag "Submit", name: nil, class: "btn btn-success green" %>
                        
                  <% end %>

            </div>
      <% else %>
        
            <div class="well">
                    <h4>Participation Info</h1>
                    <hr class = "divider-2"></hr>
                    
                    
                    
                        
                        
                        
                        <div>
                            <span class = "left-stats-1">Total Participants:</span>
                            <span class = "stats"><%= @debate.participations.size %> </span>
                            <p></p>
                        </div>
                        
                         <div>
                            <span class = "left-stats-1">Current Side:</span>
                            <span class = "stats"><%= @side%> </span>
                        </div>
                        
                        <hr class = "divider-2"></hr>
                        
                        
                        
                        
                        <div class="col-md-6 border-stats">
                            
                            <h4 class = "left-stats">Left</h4>
                            <div>
                                <span class = "left-stats-1">Participants:</span>
                                <span class = "stats"><%= @debate.participations.where(side: "left").size %> </span>
                                <p></p>
                            </div>
                            
                            <div>
                                <span class = "left-stats-1">Talking Points:</span>
                                <span class = "stats"><%= @debate.points.where("points.side = 'left' ").size %> </span>
                                <p></p>
                            </div>
                            
                            <div>
                                <span class = "left-stats-1">Rebuddles:</span>
                                <span class = "stats"><%= Point.where("points.side = 'left' AND points.debate_id = #{@debate.id} AND points.pointable_type != 'Debate' " ).size %> </span>
                                <p></p>
                            </div>
                            
                            <div>
                                <span class = "right-stats-1">Votes:</span>
                                <span class = "stats"> <%= @num_left_votes %> </span>
                                <p></p>
                            </div>
                            
                             <div>
                                <span class = "right-stats-1">Multiplier:</span>
                                <span class = "stats"> <%= @left_mult %> </span>
                                <p></p>
                            </div>
                            
                            
                        </div>
                        
                       
                         
                        <div class="col-md-6 border-stats-2">
                            
                            <h4 class = "right-stats">Right</h4>
                            <div>
                                <span class = "right-stats-1">Participants:</span>
                                <span class = "stats"><%= @debate.participations.where(side: "right").size %> </span>
                                <p></p>
                            </div>
                            
                            <div>
                                <span class = "right-stats-1">Talking Points:</span>
                                <span class = "stats"><%= @debate.points.where("points.side = 'right' ").size %> </span>
                                <p></p>
                            </div>
                            
                            <div>
                                <span class = "right-stats-1">Rebuddles:</span>
                                <span class = "stats"><%= Point.where("points.side = 'right' AND points.debate_id = #{@debate.id} AND points.pointable_type != 'Debate' " ).size %> </span>
                                <p></p>
                            </div>
                            
                            <div>
                                <span class = "right-stats-1">Votes:</span>
                                <span class = "stats"> <%= @num_right_votes %> </span>
                                <p></p>
                            </div>
                            
                            <div>
                                <span class = "right-stats-1">Multiplier:</span>
                                <span class = "stats"> <%= @right_mult %> </span>
                                <p></p>
                            </div>
                            
                            
                        </div>
                            
                     
                    
                    
                    
                        <%= form_for @participation do |f| %>
                          
                        
                          <%= f.submit  id: "test123", class: "form-control" %>
                        <% end %>
                    <hr class="divider"></hr>
                       <div class="btn-group btn-group-xs">
                          <button type="button" id = "leftShow" class="btn btn-danger">Left</button>
                          <button type="button" id = "neutralShow" class="btn btn-success">Neutral</button>
                          <button type="button" id = "rightShow" class="btn btn-info">Right</button>
                        </div>
                        
                          
                    
        
            </div>
           
            
      <% end %>
    </div>
</div>


      <div id = "leftSide" class = "col-sm-4" >
           <h2>Left Side</h2>
           <hr class="divider"></hr>

            <% if @side == "left" && @participating %>
                  <button class="btn btn-danger" style="width:100%; margin-bottom:5px;"data-toggle = "collapse"  data-target = "#makeLeftPoint">
                        Make a Point
                  </button>   
                  
                  <div id="makeLeftPoint" class="collapse">
                  
                        <%= render partial: "/debates/newpoint", locals: {debate: @debate, side: @side} %>
                  
                  </div>
           
            <% else %>
                  <button class="btn btn-danger disabled" style="width:100%; margin-bottom:5px; disabled: true;">
                        Make a Point
                  </button>   
            <% end %>
   
        <% if Debate.find(@debate.id).points.any? %>
            <%= render partial: "/debates/leftside", locals: {points: @debate_points.select{|point| point.side=="left" }, side: @side, debate: @debate} %>
        <% end %>
      
 
      </div>
  
 
           

       <div class = "col-sm-4" id = "neutralSide" >
           <h2>Neutral</h2>
           <hr class="divider"></hr>
            
            <% if @participating %>
            <button class="btn btn-success" style="width:100%; margin-bottom:5px;"data-toggle = "collapse"  data-target = "#makeNeutralPoint">
                  Make a Point
                  
            </button>   
            
            <% else %>
            
              <button class="btn btn-success disabled" style="width:100%; margin-bottom:5px; disabled: true;">
                  Make a Point 
                   
              </button>
             
            <% end %>
             
            
                  <div id="makeNeutralPoint" class="collapse">
                
                  <%= render partial: "/debates/newpoint", locals: {debate: @debate, side: "neutral"} %>
                       
                  </div>
                  
     
         <% if Debate.find(@debate.id).points.any? %>
            <%= render partial: "/debates/leftside", locals: {points: @debate_points.select{|point| point.side=="neutral" }, side: "neutral", debate: @debate} %>
         <% end %>
     
       

      </div>

      <div class = "col-sm-4" id = "rightSide" >
              <h2>Right Side</h2>
           <hr class="divider"></hr>
           
            <% if @side == "right" && @participating %>
            
             <button class="btn btn-info" style="width:100%; margin-bottom:5px;"data-toggle = "collapse"  data-target = "#makeRightPoint">
                              Make a Point
             </button>
            
                  <div id="makeRightPoint" class="collapse">
                       <%= render partial: "/debates/newpoint", locals: {debate: @debate, side: @side} %>

                  </div>
                  
            <% else %>
                  <button class="btn btn-info disabled" style="width:100%; margin-bottom:5px; disabled: true;">
                        Make a Point
                  </button>
            
            <% end %>
            
             
          <% if Debate.find(@debate.id).points.any? %>
                  <%= render partial: "/debates/leftside", locals: {points: @debate_points.select{|point| point.side=="right" }, side: @side, debate: @debate} %>
          <% end %>
         
           
           
      </div>
