
<div class="container-fluid">

      <div class="row">
            
            <div class="col-md-10">
                  <div class="panel panel-default">
                        <div class="panel panel-heading">
                              
                              <%= @debate.topic %>
                        </div>
                        <div class="panel panel-body" style="margin-bottom:0px;">
                              <%= @debate.summary %>
                               
                        </div>

                  </div>
            </div>
           
            <% #if !Participation.where(user_id: current_user.id, debate_id: @debate.id).exists? %>
      <% if !logged_in? %>
            <div class="col-sm-2">
            <div class = "well">
               
                    <h4>Participation Info</h1>
                    <hr class="divider"></hr>
                   
                    <p>Please Login or Sign Up to Participate</p>
                    <%= link_to "login", login_path %>
                    <%= link_to "signup", signup_path %>
                        
                 
            </div>
            </div>
      
      
      <% elsif !@participating %>
            <div class="col-sm-2">
            <div class = "well">
                  
                    <h4>Participation Info</h1>
                    <hr class="divider"></hr>
                   <%= form_tag(controller: "participations", action: "create", method: "post", class: "form-inline") do %>
       
                        <%= hidden_field_tag(:debate_id, :debate_id, value: @debate.id) %>
                        <h4>Pick a Side:</h4>
                        <%= select_tag("side", options_for_select([['Left', "left"], ['Right', "right"]]), {:class => 'form-control'}) %>
                        
                        <%= submit_tag "Submit", name: nil, class: "btn btn-success green" %>
                        
                  <% end %>
            </div>
            </div>
      <% else %>
            <div class="col-md-2">
            <div class="well">
                    <h4>Participation Info</h1>
                    <hr class="divider"></hr>
                    <%= "Side: #{@side}" %>
                        <%= form_for @participation do |f| %>
                          
                        
                          <%= f.submit  id: "test123", class: "form-control" %>
                        <% end %>
                    <hr class="divider"></hr>
                       <div class="btn-group btn-group-xs">
                          <button type="button" id = "leftShow" class="btn btn-danger">Left</button>
                          <button type="button" id = "neutralShow" class="btn btn-success">Neutral</button>
                          <button type="button" id = "rightShow" class="btn btn-info">Right</button>
                        </div>
            </div>
            </div>
           
            
      <% end %>
       
      </div>
</div>





      

      <div id = "leftSide" class = "col-sm-4" >
           <h2>Left Side</h2>
           <hr class="divider"></hr>

            <% if @side == "left" && @participating %>
                  <button class="btn btn-danger" style="width:100%; margin-bottom:5px;"data-toggle = "collapse"  data-target = "#makeLeftPoint">
                        Make a Point
                  </button>   
                  
                  <div id="makeLeftPoint" class="collapse">
                  
                        <%= render partial: "/debates/newpoint", locals: {debate: @debate, side: @side} %>
                  
                  </div>
           
            <% else %>
                  <button class="btn btn-danger disabled" style="width:100%; margin-bottom:5px; disabled: true;">
                        Make a Point
                  </button>   
            <% end %>
   
        <% if Debate.find(@debate.id).points.any? %>
            <%= render partial: "/debates/leftside", locals: {points: @debate_points.select{|point| point.side=="left" }, side: @side, debate: @debate} %>
        <% end %>
      
 
      </div>
  
 
           

       <div class = "col-sm-4" id = "neutralSide" >
           <h2>Neutral</h2>
           <hr class="divider"></hr>
            
            <% if @participating %>
            <button class="btn btn-success" style="width:100%; margin-bottom:5px;"data-toggle = "collapse"  data-target = "#makeNeutralPoint">
                  Make a Point
                  
            </button>   
            
            <% else %>
            
              <button class="btn btn-success disabled" style="width:100%; margin-bottom:5px; disabled: true;">
                  Make a Point 
                   
              </button>
             
            <% end %>
             
            
                  <div id="makeNeutralPoint" class="collapse">
                
                  <%= render partial: "/debates/newpoint", locals: {debate: @debate, side: "neutral"} %>
                       
                  </div>
                  
     
         <% if Debate.find(@debate.id).points.any? %>
            <%= render partial: "/debates/leftside", locals: {points: @debate_points.select{|point| point.side=="neutral" }, side: "neutral", debate: @debate} %>
         <% end %>
     
       

      </div>

      <div class = "col-sm-4" id = "rightSide" >
              <h2>Right Side</h2>
           <hr class="divider"></hr>
           
            <% if @side == "right" && @participating %>
            
             <button class="btn btn-info" style="width:100%; margin-bottom:5px;"data-toggle = "collapse"  data-target = "#makeRightPoint">
                              Make a Point
             </button>
            
                  <div id="makeRightPoint" class="collapse">
                       <%= render partial: "/debates/newpoint", locals: {debate: @debate, side: @side} %>

                  </div>
                  
            <% else %>
                  <button class="btn btn-info disabled" style="width:100%; margin-bottom:5px; disabled: true;">
                        Make a Point
                  </button>
            
            <% end %>
            
             
          <% if Debate.find(@debate.id).points.any? %>
                  <%= render partial: "/debates/leftside", locals: {points: @debate_points.select{|point| point.side=="right" }, side: @side, debate: @debate} %>
          <% end %>
         
           
           
      </div>

   
     
       



