<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "log in", login_path %>
<%= link_to "log out", logout_path, method: "delete" %>
<% if logged_in? %>
  <p>logged in</p>
<% else %>
  <p>not logged in</p>
<% end %>

<%= yield %>

</body>
</html>
